RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.doodlecricket\.org [NC]
RewriteRule ^(.*)$ https://doodlecricket.org/$1 [L,R=301]

# Force HTTPS for all requests
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} /index.html [NC]
RewriteRule (.*)index.html$ /$1 [R=301,L]

# Remove trailing slash from URLs (except for directories and files)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^ %1 [R=301,L]